<html>
<head>
  <title>Voter Interface</title>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.min.js"></script>
  <script src="javascripts/app.js"></script>

</head>
<body ng-app="comment" ng-controller="MainCtrl">
  <h1>Voter Interface</h1>
<!-- <form ng-submit="addComment()"> -->
<!-- <input type="text" ng-model="formContent"></input> -->

<!-- </form> -->
<h1>Current Candidates</h1>
<div ng-repeat="comment in comments">
    <input type="checkbox" ng-model="comment.doVote">
    {{comment.title}}
   

</div>
<button ng-click="vote()">Submit Votes</button>
<div style="display:none;" id="submitted"><h1>Submitted Canditates</h1>>

<div ng-repeat= "cand in votedCans">
    {{cand.title}}
</div>
</div>


</body>
</html>